.App {
  min-height: 100vh;
  transition: all .3s ease-in-out;
  position: relative;
}

.dark{
  background-color: black;
  color: white;
}
.light{
  background-color: white;
  color: black;
}
.mode{
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(63,83,83);
  border: 0.5px solid black;
  font-size: larger;
  position: absolute;
  right: 0;
  top: 0;
}
.navlight{
  background-color: black;
  color:white;
}
.navdark{
  background-color: rgb(25, 71, 61);
  color: black;
}
